<div class="card" style="width: 18rem;">
  <img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.6435-9/68945175_2607985822570925_3521445214998757376_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=_yh6xAK4g4YAX_zYamE&_nc_oc=AQkU8L3eHntOVgLeMVVVs2jHFncaNHBMSRsjLuoZbKQMD7wgYMKjbXTCSMexgHqArFY&tn=q6-ZWtufvx1VcaTd&_nc_ht=scontent.fbkk10-1.fna&oh=eafec04f8985917d85054a50408977bf&oe=6123877C" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">เกี่ยวกับผู้จัดทำ</h2>
    <p class="card-text">นายขรรค์ชัย วงศ์สิทธิ์ </p>
    <p class="card-text">พลเมืองดีจิทัล อคาดามี่ 2021 รุ่น 2</p>
    <p class="card-text">รหัส CTF020702 </p>
    <a href="https://www.facebook.com/HS3WMN/" class="btn btn-primary">ติดต่อ</a>
  </div>
</div>
