<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <i class="bi bi-pin-map-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
      <small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
    </div>
    <div class="col-6 col-md">
      <h5>สืบค้น</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">ฐานข้อมูลยา</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">ข้อมูลยาใหม่</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">สิทธิบัตรยา</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">นโยบายยาแห่งชาติ</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">กฏหมายยา</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">สถิติ</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>หน่วยงาน</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">คณะกรรมการอาหารและยา</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">แหล่งข้อมูล</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">สาธารณสุข</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">กำกับยา</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>ผู้จัดทำ</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">ทีมงาน</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">สำนักงาน</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">ที่อยู่</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">ข้อจำกัด</a></li>
      </ul>
    </div>
  </div>
</footer>
